<form [formGroup]="searchProductForm" class="search-form" (submit)="submitForm()">
    <mat-form-field appearance = "outline" class="search-input">
        <mat-label>Enter KeyWord to Search</mat-label>
        <input matInput formControlName="title">
        <button mat-icon-button matSuffix color="primary" disableRipple [disabled]="searchProductForm.invalid">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>


<div class="product-list">
    <mat-card class="product-card" *ngFor="let product of products">
        <div class="product-image">
            <img [src]="product.processedImg" alt="product-image">
        </div>
        <div class="product-details">
            
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <button
                mat-icon-button
                (click)="toggleWishList(product)"
                [class.active]="product.isFavorited"
                class="favorite-button">
                <mat-icon>
                    {{ product.isFavorited ? 'star' : 'star_border' }}
                </mat-icon>
            </button>
            
            
            <mat-divider></mat-divider>
            <div class="product-info">
                <div class="info-row">
                    <span class="info-label">Price:</span>
                    <span class="info-value">${{ product.price }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Category:</span>
                    <span class="info-value">{{ product.categoryName }}</span>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="actions">
                <button mat-raised-button color="accent" class="faq-button" (click)="toggleFAQ(product.id)">FAQ</button>
                <button mat-raised-button color="accent" class="review-button" (click)="toggleReviews(product.id)">Reviews</button>
                <button mat-raised-button color="accent" class="update-button" (click)="addToCart(product.id)">Add to Cart</button>
            </div>

            <div *ngIf="FAQProductId == product.id && FAQ">
                <div *ngFor="let faq of FAQ" class="faq-card">
                    <p><strong>Question : </strong>{{faq.question || "No questions asked"}}</p>
                    <p><strong>Answer : </strong>{{ faq.answer || "No answer available"}}</p>
                </div>
            </div>

            <div *ngIf="ReviewProductId == product.id && Reviews">
                <div *ngFor="let review of Reviews" class="faq-card1">
                    <p><strong>Rating : </strong>{{review.rating + '/5'|| "No rating given"}}</p>
                    <p><strong>Description : </strong>{{ review.description || "No description written"}}</p>
                </div>
            </div>

        </div>
    </mat-card>
</div>